/*
    Header bg-color: #9B009D
    Footer bg-color: #363635
*/
body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
header {
  display: flex;
  background-color: #9b009d;
  height: 30px;
  align-items: center;
}
img[src="./img/many_contact_logo.png"] {
  width: 100%;
  height: 30px;
}
input[type="submit"] {
  background-color: #00e172;
  color: white;
  border-radius: 5px;
  border: 0;
}
input[type="text"] {
  border-radius: 5px;
  border: 0;
}
label[for="form"] {
  color: white;
  font-size: small;
}
.img-header {
  justify-content: left;
}
.form-header {
  justify-self: center;
}
nav {
  width: 100%;
  height: 90px;
  display: flex;
  background-color: #fffffe;
  justify-content: space-between;
}
img[src="./img/logo.jpg"] {
  width: 90px;
  height: 45px;
  margin-left: 30px;
}
.liste {
  display: flex;
  gap: 30px;
}
.liste > a > p {
  font-size: small;
}
.coworking > a > p {
  font-size: small;
  margin-right: 30px;
}
.titre > h1 {
  text-align: center;
  font-size: 50px;
}
.content-liste > ul > li {
  text-align: center;
}
.content-liste > ul > li {
  text-align: center;
}
.section2 > div > p {
  text-align: center;
}
.section2 > div > h2 {
  text-align: center;
}
.section1,
.section2 {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
}

footer {
  margin: 0;
  background: #363635;
  color: white;
}
footer > div {
  display: flex;
  justify-content: center;
}
footer > div > div {
  display: flex;
  justify-content: center;
  row-gap: 50px;
}
hr:nth-of-type(1) {
  width: 30px;
}
a {
  text-decoration: none;
  color: #363635;
}
