body {
  margin: 0;
  font-family: Montserrat;
}
header {
  display: flex;
  flex-wrap: wrap;
  background-color: #9b009d;
  height: 55px;
  align-items: center;
}
img[src="../assets/img/many_contact_logo.png"] {
  width: 100%;
  height: 55px;
}
input[type="submit"] {
  background-color: #00e172;
  color: white;
  border-radius: 5px;
  border: 0;
  height: 35px;
  width: 125px;
  padding: 0;
  font-size: 20px;
}
input[type="text"] {
  border-radius: 5px;
  padding: 0;
  border: 0;
  height: 35px;
  width: 250px;
  font-style: italic;
  font-size: 20px;
}
label[for="form"] {
  color: white;
  padding: 0;
  border: 0;
  font-size: 20px;
}
.img-header {
  justify-content: left;
}
.form-header {
  justify-self: center;
  margin-left: 32%;
}
nav {
  width: 100%;
  height: 155px;
  display: flex;
  flex-wrap: wrap;
  background-color: #fffffe;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
}
img[src="../assets/img/logo.jpg"] {
  width: 180px;
  height: 90px;
  margin-left: 100px;
  margin-right: 100px;
}
.img-logo {
  width: 365px;
  height: 155px;
  border-right: 1px solid whitesmoke;
  align-content: center;
}
img[src="../assets/img/logo-2.png"] {
  width: 225px;
  height: 115px;
}
.liste {
  display: flex;
  gap: 50px;
}
.liste > a > p {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
}
.coworking > a > p {
  font-size: 18px;
  margin-right: 30px;
  font-weight: bold;
  text-align: center;
}
.coworking {
  width: 355px;
  height: 155px;
  border-left: 1px solid whitesmoke;
  align-content: center;
}
.titre {
  text-align: center;
  font-size: 65px;
  font-weight: normal;
}
.content-liste > ul > li {
  line-height: 0;
}
.section2 > .paragraphe > p {
  text-align: start;
}
.section2 > div > p {
  text-align: center;
  color: #363635;
  padding: 10px;
}
#titre2 {
  text-align: start;
  font-size: 50px;
  font-weight: normal;
  margin: 0;
}
#p1 {
  margin-top: 0;
}
.section1,
.section2 {
  padding-left: 240px;
  padding-right: 240px;
  padding-bottom: 50px;
  font-size: 20px;
  line-height: 1.8;
}
.section1 {
  padding-bottom: 0;
}
.content-text {
  line-height: 1.8;
  font-size: 19px;
}

footer {
  margin: 0;
  background: #363635;
  color: white;
  height: 550px;
}
footer > div {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-bottom: 25px;
}
footer > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 50px;
  padding-bottom: 45px;
  padding-top: 80px;
}
footer > div > div > a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 900;
}
footer > div > div > i {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px;
}
hr:nth-of-type(1) {
  width: 60px;
  margin-bottom: 50px;
}
#hr-footer {
  width: 100%;
  border: 1px solid #3a3a39;
}
a {
  text-decoration: none;
  color: #363635;
}
ul > li::marker {
  list-style: circle;
  color: purple;
}
li {
  padding: 10px;
}
#copyright {
  font-size: 15px;
  color: #5a5a59;
}
.copyright {
  padding: 0px;
}
.logo {
  padding-bottom: 50px;
  padding-top: 25px;
}
#agenda::before {
  content: "";
  width: 83px;
  height: 3px;
  background-color: black;
  position: absolute;
  margin-top: 22px;
}
#fb::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border: 4px solid white;
  border-radius: 100%;
  left: 713px;
  top: 1660px;
}
#twitter::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border: 4px solid white;
  border-radius: 100%;
  left: 983px;
  top: 1660px;
}
#ig::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border: 4px solid white;
  border-radius: 100%;
  left: 1234px;
  top: 1660px;
}
