/*
|---------------------------------------------------------------------|
|                               BODY                                  |
|---------------------------------------------------------------------|
*/
body {
  margin: 0;
  font-family: Montserrat;
}
/*
|---------------------------------------------------------------------|
|                             HEADER                                  |
|---------------------------------------------------------------------|
*/
header {
  display: flex;
  flex-wrap: wrap;
  background-color: #9b009d;
  height: 5vh;
  min-height: 5px;
  align-items: center;
}
img[src="./public/assets/img/many_contact_logo.png"] {
  width: 50px;
  position: absolute;
  top: 2px;
  left: 0;
  filter: brightness(10);
  opacity: 50%;
  clip: rect(auto auto 36px auto);
}
input[type="submit"] {
  background-color: #00e172;
  color: white;
  border-radius: 5px;
  border: 0;
  height: 3vh;
  width: 6vw;
  padding: 0;
  font-size: 17px;
}
input[type="text"] {
  border-radius: 5px;
  padding: 0;
  border: 0;
  height: 3vh;
  width: 14vw;
  font-style: italic;
  font-size: 20px;
}
label[for="form"] {
  color: white;
  padding: 0;
  border: 0;
  font-size: 20px;
}
.img-header {
  justify-content: left;
}
.form-header {
  justify-self: center;
  margin-left: 32%;
}
/*
|---------------------------------------------------------------------|
|                             NAVBAR                                  |
|---------------------------------------------------------------------|
*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
  height: 15vh;
}
img[src="./public/assets/img/logo.jpg"] {
  width: 180px;
  height: 90px;
  margin-left: 5vw;
  margin-right: 5vw;
}
.img-logo {
  width: 36vh;
  height: 15vh;
  border-right: 1px solid whitesmoke;
  align-content: center;
}
.liste {
  display: flex;
  gap: 2vw;
}
.liste > a > p {
  display: flex;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
}
.coworking > a > p {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
.coworking {
  width: 35vh;
  height: 15vh;
  border-left: 1px solid whitesmoke;
  align-content: center;
}
/*
|---------------------------------------------------------------------|
|                             CONTENT                                 |
|---------------------------------------------------------------------|
*/
.titre {
  text-align: center;
  font-size: 65px;
  font-weight: normal;
}
.content-liste > ul > li {
  line-height: 0;
}
.section2 > .paragraphe > p {
  text-align: start;
}
.section2 > div > p {
  text-align: center;
  color: #363635;
  padding: 10px;
}
#titre2 {
  text-align: start;
  font-size: 50px;
  font-weight: normal;
  margin: 0;
}
#p1 {
  margin-top: 0;
}
.section1,
.section2 {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 50px;
  font-size: 20px;
  line-height: 1.8;
}
.section1 {
  padding-bottom: 0;
}
.content-text {
  line-height: 1.8;
  font-size: 19px;
}
hr:nth-of-type(1) {
  width: 60px;
  margin-bottom: 50px;
}
/*
|---------------------------------------------------------------------|
|                             FOOTER                                  |
|---------------------------------------------------------------------|
*/
footer {
  margin: 0;
  background: #363635;
  color: white;
}
footer > div {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-bottom: 25px;
}
footer > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 50px;
  padding-bottom: 45px;
  padding-top: 80px;
}
footer > div > div > a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 900;
}
footer > div > div > i {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px;
}
#hr-footer {
  width: 100%;
  border: 1px solid #3a3a39;
}
a {
  text-decoration: none;
  color: #363635;
}
ul > li::marker {
  list-style: circle;
  color: purple;
}
li {
  padding: 10px;
}
#copyright {
  font-size: 15px;
  color: #5a5a59;
}
.copyright {
  padding: 0;
}
.logo {
  padding-bottom: 50px;
  padding-top: 25px;
}
img[src="./public/assets/img/logo-2.png"] {
  width: 225px;
  height: auto;
}
#apropos::before {
  content: "";
  width: 4.5vw;
  height: 3px;
  background-color: black;
  position: absolute;
  margin-top: 1vw;
}

.footerRsLogo > i {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px white solid;
  padding: 10px;
  width: 1vw;
  border-radius: 50%;
}
